
<!DOCTYPE html>
<html>
	<head>
		<%- include ("../partials/head") %>
	</head>
	
	<body class="container">

		<header class="py-3">
			<%- include ("../partials/header") %>
		</header>

		<main>
			<div class="container">
				<%- include ("../partials/content") %>
			</div>
		</main>

	</body>
</html>