
<div class="container-fluid">
	<div class="page-header">
		<h1>Latest Covid-19 Statistics <small>Grouped by Country</small></h1>
	</div>
</div>
<div class="container-fluid">
	<p>These information are provided by <a href="http://covid19api.xapix.io/v2/locations">this website</a>.</p>
</div>